name: v3 v4 Image Builds from template
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      push:
        type: boolean
        default: false
        description: "push true/false"

env:
  tbt_version3: "3.00"
  tbt_version4: "4.0.6"
  tbt_versiond: "4.1.0"
  twcv: "1.6.33"
  ticv: "1.8.0"

jobs:
  getNordvpnVersions:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      VERSION: ${{ steps.step2.outputs.VERSION }}
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        id: step1
      - name: get local nordvpn client version
        id: step2
        run: |
          grep -oP "(?<=changelog\): )[^ ]+" README.md | tr -d ' '
          echo "VERSION=$(grep -oP '(?<=changelog\): )[^ ]+' README.md | tr -d ' ')" >> "$GITHUB_OUTPUT"
          echo "$GITHUB_OUTPUT"
          cat "$GITHUB_OUTPUT"
  show_vars:
    runs-on: ubuntu-latest
    needs: getNordvpnVersions
    outputs:
      tbt_version3: ${{ env.tbt_version3 }}
      tbt_version4: ${{ env.tbt_version4 }}
      nversion: ${{ needs.getNordvpnVersions.outputs.VERSION }}
      twcv: ${{ env.twcv }}
      ticv: ${{ env.ticv }}
      push: ${{ inputs.push }}
    steps:
      - name: "show vars"
        run: echo "TBT_VERSION3=${tbt_version3},TBT_VERSION4=${tbt_version4}, VERSION=${{ needs.getNordvpnVersions.outputs.VERSION }}, TWCV=${twcv}, TICV=${ticv}"

  build-v3-images:
    uses: ./.github/workflows/build-template.yml
    with:
      build-context: '.'
      tbt_version: ${{ needs.show_vars.outputs.tbt_version3 }}
      tag: "edgd1er/nordlynx-transmission:v3"
      version: ${{ needs.show_vars.outputs.nversion }}
      twcv: ${{ needs.show_vars.outputs.twcv }}
      ticv: ${{ needs.show_vars.outputs.ticv }}
      push: ${{ needs.show_vars.outputs.push }}

    secrets: inherit
    needs:
      - getNordvpnVersions
      - show_vars

  build-v4-images:
    uses: ./.github/workflows/build-template.yml
    with:
      build-context: '.'
      base_image: 'debian:13-slim'
      tbt_version: ${{ needs.show_vars.outputs.tbt_version4 }}
      tag: "v4"
      version: ${{ needs.show_vars.outputs.nversion }}
      twcv: ${{ needs.show_vars.outputs.twcv }}
      ticv: ${{ needs.show_vars.outputs.ticv }}
      push: ${{ needs.show_vars.outputs.push }}
    secrets: inherit
    needs:
      - getNordvpnVersions
      - show_vars

  build-v4-images-ubuntu:
    uses: ./.github/workflows/build-template.yml
    with:
      build-context: '.'
      base_image: 'ubuntu:24.04'
      tbt_version: ${{ needs.show_vars.outputs.tbt_version4 }}
      tag: "v4"
      version: ${{ needs.show_vars.outputs.nversion }}
      twcv: ${{ needs.show_vars.outputs.twcv }}
      ticv: ${{ needs.show_vars.outputs.ticv }}
      ptf: "linux/amd64,linux/arm64v8,linux/arm32/v7"
      push: ${{ needs.show_vars.outputs.push }}
    secrets: inherit
    needs:
      - getNordvpnVersions
      - show_vars

  build-v4dev-images:
    uses: ./.github/workflows/build-template.yml
    with:
      build-context: '.'
      tbt_version: "${{ needs.show_vars.outputs.tbt_versiond }}"
      tag: "dev"
      ptf: "linux/amd64,linux/arm64v8,linux/arm32/v7"
      version: ${{ needs.show_vars.outputs.nversion }}
      twcv: ${{ needs.show_vars.outputs.twcv }}
      ticv: ${{ needs.show_vars.outputs.ticv }}
      push: ${{ needs.show_vars.outputs.push }}
    secrets: inherit
    needs:
      - getNordvpnVersions
      - show_vars

  build-v4dev-images-ubuntu:
    uses: ./.github/workflows/build-template.yml
    with:
      build-context: '.'
      base_image: 'ubuntu:24.04'
      tbt_version: "${{ needs.show_vars.outputs.tbt_versiond }}"
      tag: "dev"
      ptf: "linux/amd64,linux/arm64v8,linux/arm32/v7"
      version: ${{ needs.show_vars.outputs.nversion }}
      twcv: ${{ needs.show_vars.outputs.twcv }}
      ticv: ${{ needs.show_vars.outputs.ticv }}
      push: ${{ needs.show_vars.outputs.push }}
    secrets: inherit
    needs:
      - getNordvpnVersions
      - show_vars